@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body{
        @apply font-[Raleway];
        /* @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide */
    }
}

.hero-section{
    background-image: url(../public/images/hero3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;	
    position: relative;
}