@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body{
        @apply font-[Raleway];
        /* @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide */
    }
}

.hero-section{
    background-image: url(../public/images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;	
    position: relative;
}

.countUp-img{
    background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
}

.heading:after{
    width: 60px;
    height: 5px;
    background-color: #00afef;
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    content: "";
}

.contact-img{
    background-image: url(../public/images/contact-us.jpg);
}

.heading2:after{
    width: 60px;
    height: 5px;
    background-color: #00afef;
    display: block;
    margin-top: 0.5rem;
    content: "";
}